USE [master]
GO
/****** Object:  Database [SellingWeb]    Script Date: 11/03/2018 16:32:57 ******/
CREATE DATABASE [SellingWeb] ON  PRIMARY 
( NAME = N'SellingWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SellingWeb.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SellingWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SellingWeb_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SellingWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SellingWeb]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/03/2018 16:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[id] [varchar](32) NOT NULL,
	[name] [nvarchar](max) NULL,
	[quantity] [int] NULL,
	[price] [money] NULL,
	[picture] [varchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[status] [int] NULL,
	[lastmodifier] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Product] ([id], [name], [quantity], [price], [picture], [description], [status], [lastmodifier]) VALUES (N'030f3e598bc34fbc81a8e472bf89e4b6', N'Laptop Dell Inspiron 5567 M5I5384W', 3, 15540000.0000, N'https://www.tncstore.vn/image/cache/catalog/LapTop/dell/Inspiron%205567A/9006_dell_inspiron-500x500.jpg', N'Mô tả sản phẩm
Intel Core™ i5 7200U (2*2.5Ghz, 3MB cache) 
Bộ nhớ trong	4GB DDR4 2400Mhz 
VGA	AMD Radeon R7 M445 2G DDR5 
Ổ cứng	1TB SATA 5400rpm 
Ổ quang	DVDRW 
Card Reader	yes 
Bảo mật, công nghệ	Led Keyboard 
Màn hình 15.6” LED-Backlit', 1, CAST(0xE83E0B00 AS Date))
INSERT [dbo].[Product] ([id], [name], [quantity], [price], [picture], [description], [status], [lastmodifier]) VALUES (N'0354c52bd3d64ccfae27324ba0e6c64e', N'Bàn phím không dây Logitech K270', 3, 449000.0000, N'https://www.tncstore.vn/image/cache/catalog/ban%20phim/K270%20/K270-a-500x500.jpg', N'Mô tả sản phẩm
kết nối liên kết nhanh chóng
Các keycaps siêu mỏng
Thiết kế nhỏ gọn, đơn giản
Phím gõ nhanh và thoải mái', 0, CAST(0xE83E0B00 AS Date))
INSERT [dbo].[Product] ([id], [name], [quantity], [price], [picture], [description], [status], [lastmodifier]) VALUES (N'06662ebf3d0d44069f477cc467d41d2b', N'Bo mạch chủ ASUS ROG STRIX Z370G GAMING', 0, 5259000.0000, N'https://www.tncstore.vn/image/cache/catalog/main/asus%20z390/bo-mach-chu-z390-E-3-500x500.jpg', N'Mô tả sản phẩm
Socket : 1151

Chipset : Z390

Slot : 4 Khe RAM

Hỗ trợ NVME', 1, CAST(0xE83E0B00 AS Date))
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Category]    Script Date: 11/03/2018 16:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[parent] [int] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON
INSERT [dbo].[Category] ([id], [name], [parent], [status]) VALUES (1, N'GAMING, WORKSTATION PC', 0, 1)
INSERT [dbo].[Category] ([id], [name], [parent], [status]) VALUES (2, N'LINH KIỆN MÁY TÍNH', 0, 1)
INSERT [dbo].[Category] ([id], [name], [parent], [status]) VALUES (3, N'LAPTOPS & TABLETS', 0, 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
/****** Object:  Table [dbo].[Admin]    Script Date: 11/03/2018 16:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[username] [varchar](30) NOT NULL,
	[password] [varchar](128) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Admin] ([username], [password], [status]) VALUES (N'admin', N'$2a$10$r7CTAAZ6MLLBWoIUPZBEdeL8Y7qB7UGhL9JF4jTcE5q3dh7Lm8pWW', 1)
/****** Object:  Table [dbo].[Customer]    Script Date: 11/03/2018 16:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [varchar](32) NOT NULL,
	[name] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[phone] [varchar](30) NULL,
	[username] [varchar](30) NULL,
	[password] [varchar](128) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 11/03/2018 16:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoice](
	[id] [varchar](32) NOT NULL,
	[date] [datetime] NULL,
	[customerId] [varchar](32) NULL,
	[name] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[phone] [varchar](20) NULL,
	[total] [money] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category_Product]    Script Date: 11/03/2018 16:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category_Product](
	[productID] [varchar](32) NULL,
	[categoryID] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Category_Product] ([productID], [categoryID]) VALUES (N'4cc597bbfe2f4553b07b85af2390621d', 8)
INSERT [dbo].[Category_Product] ([productID], [categoryID]) VALUES (N'0b2831577a6a443db14cc1a0b4df58c9', 8)
INSERT [dbo].[Category_Product] ([productID], [categoryID]) VALUES (N'7fa0ff6156404ac4b2d83f84d5d57076', 8)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[InvoiceDetail]    Script Date: 11/03/2018 16:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InvoiceDetail](
	[invoiceId] [varchar](32) NOT NULL,
	[productId] [varchar](32) NOT NULL,
	[quantity] [int] NULL,
	[price] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[invoiceId] ASC,
	[productId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF__Admin__status__1B0907CE]    Script Date: 11/03/2018 16:32:57 ******/
ALTER TABLE [dbo].[Admin] ADD  DEFAULT ((1)) FOR [status]
GO
/****** Object:  Default [DF__Invoice__date__0F975522]    Script Date: 11/03/2018 16:32:57 ******/
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (getdate()) FOR [date]
GO
/****** Object:  ForeignKey [FK__Invoice__custome__108B795B]    Script Date: 11/03/2018 16:32:57 ******/
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([customerId])
REFERENCES [dbo].[Customer] ([id])
GO
/****** Object:  ForeignKey [FK__Category___categ__07020F21]    Script Date: 11/03/2018 16:32:57 ******/
ALTER TABLE [dbo].[Category_Product]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([id])
GO
/****** Object:  ForeignKey [FK__Category___produ__060DEAE8]    Script Date: 11/03/2018 16:32:57 ******/
ALTER TABLE [dbo].[Category_Product]  WITH CHECK ADD FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([id])
GO
/****** Object:  ForeignKey [FK__InvoiceDe__invoi__15502E78]    Script Date: 11/03/2018 16:32:57 ******/
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD FOREIGN KEY([invoiceId])
REFERENCES [dbo].[Invoice] ([id])
GO
/****** Object:  ForeignKey [FK__InvoiceDe__produ__164452B1]    Script Date: 11/03/2018 16:32:57 ******/
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
